extends ../../admin/adminlayout

block content
    h1 Add Book 
    p Please Fill in Book Details
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
    form(method='post', action='/admin/books/add')
        .form-group
            label Title
            input.form-control(name='title', type='text', placeholder='Enter Title')
        .form-group
            label Author
            input.form-control(name='author', type='text', placeholder='Enter Author Name')
        .form-group
            label Publisher
            input.form-control(name='publisher', type='text', placeholder='Enter Publisher Name')
        .form-group
            label Price
            input.form-control(name='price', type='text', placeholder='Enter Price')
        .form-group
            label Category:
            select.form-control(name='category')   
                each category, i in categories
                    option(value="#{category.name}") #{category.name}
        .form-group
            label Description:
            textarea.form-control(name='description', id='description')  
        .form-group
            label Cover Image Url
            input.form-control(name='coverimageurl', type='text', placeholder='')
        input.btn.btn-primary(name='submit', type='submit', values='Submit')
